node_modules
.yarn
coverage
dist
.test-db/
test-alice
test-alice-speed
test-bob
test-chris
test-node-a
test-node-b
test-keys-a
test-keys-b
test-node-speed
test-verify-a
test-verify-b
test-store
test-base-server
test-base-client
test-map-crdt
test-list-crdt
test-counter-crdt
test-additional**
test-anon**
test-fresh**
test-keys**
bundle.js
tooldb
_____peer
_____peer_**
lerna-debug.log
.DS_Store
