node_modules
.yarn
coverage
dist
test-alice
test-alice-speed
test-bob
test-chris
test-node-a
test-node-b
test-keys-a
test-keys-b
test-node-speed
test-verify-a
test-verify-b
test-store
test-base-server
test-base-client
bundle.js
tooldb
_____peer
_____peer_**