# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: "**"

jobs:
  build-job:
    runs-on: ${{ matrix.os }}
    name: "Build and test ${{ matrix.os }}"
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - name: "Setup node"
        uses: actions/setup-node@v4
        with:
          node-version: "18"
      - name: "Checkout source code"
        uses: "actions/checkout@v4"
      - name: "Install modules"
        run: "npm install"
      - name: "Build (npm)"
        run: "npm run build"
      - name: "Test"
        run: "jest --clearCache && jest ./ --detectOpenHandles --runInBand"
